{%extends 'layout.html'%}

{%block source%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabla.css') }}">
{%endblock%}

{% block body %}

<div class="my-3 p-3 center_div bg-white rounded box-shadow" >

    <img class="float-xs-right" src="{{ url_for('static', filename='logo/logo2.jpeg') }}" alt="">
    <div id="div" class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded box-shadow float-xs-left">
        <h1> Cursos</h1>
    </div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Institucion</th>
        <th>nombre</th>
        <th>clases teoricas</th>
        <th>clases practicas</th>
        <th>calificacion</th>
        <td colspan="2">Opciones</td>
       
    </tr>
</thead>
<tbody>
{% for curso in cursos %}
    <tr>
      <td>{{curso.0}}</td>
        <td>{{curso.3}}</td>
        <td>{{curso.4}}</td>
        <td>{{curso.5}}</td>
        <td>{{curso.6}}</td>  
        <td> <a href="/edit_cur/{{curso.1}}" class="btn btn-warning text-white">Editar</a> 
            <a class="confirm btn btn-danger">Eliminar</a></td>  
    </tr>
{% endfor %}
</tbody>
</table>



<a href="/add_curso" class="btn btn-primary mr-2">Agregar curso</a>
<a href="/" class="btn btn-outline-secondary">Volver</a>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/curso.js') }}"></script>
{% endblock %}