{%extends 'layout.html'%}

{%block source%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabla.css') }}">
{%endblock%}

{% block body %}

<div class="my-3 p-3 center_div bg-white rounded box-shadow" >

    <img class="float-xs-right" src="{{ url_for('static', filename='logo/logo2.jpeg') }}" alt="">
    <div id="div" class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded box-shadow float-xs-left">
        <h1> Cursos</h1>
    </div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Institucion</th>
        <th>Clases Teoricas</th>
        <th>Clases Practicas</th>
        <th>Calificacion</th>
        <th>Plan</th>
        <td colspan="3">Opciones</td>
       
    </tr>
</thead>
<tbody>

    {%  if cursos |length >0 : %}
        {% for curso in cursos %}
    <tr>
      <td>{{curso.3}}</td>
        <td>{{curso.0}}</td>
        <td>{{curso.4}}</td>
        <td>{{curso.5}}</td>
        <td>{{curso.6}}</td> 
        <td>{{curso.7}}</td>  

        <td> 
            <a href="/ver_categoria/{{curso.1}}"><button  class="btn btn-info text-white">Categorías</button></a>  
        </td>
        <td> 
            <a href="/edit_cur/{{curso.1}}"><button  class="btn btn-warning text-white">Editar</button></a>  
        </td>
        
        <td>
            <a><button  class="confirm btn btn-danger">Eliminar</button></a>
        </td>
    </tr>
        {% endfor %}

        {% else %}
        <td colspan="7"><h1>No hay cursos inscritos</h1></td>
        {% endif %}

</tbody>
</table>



<a href="/add_curso" class="btn btn-primary mr-2">Agregar curso</a>
<a href="/" class="btn btn-outline-secondary">Volver</a>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/curso.js') }}"></script>
{% endblock %}