{%extends 'layout.html'%}


{% block body %}

<table class="table table-hover">
    <tr>
        <th>Institucion</th>
        <th>nombre</th>
        <th>clases teoricas</th>
        <th>clases practicas</th>
        <th>calificacion</th>
       
    </tr>
{% for curso in cursos %}
    <tr>
      <td>{{curso.0}}</td>
        <td>{{curso.3}}</td>
        <td>{{curso.4}}</td>
        <td>{{curso.5}}</td>
        <td>{{curso.6}}</td>    
    </tr>
{% endfor %}
</table>


<div class="row">
<a href="/add_curso" class="btn btn-primary">Agregar curso</a>
<a href="/" class="btn btn-outline-primary">Volver</a>
</div>
{% endblock %}