{%extends 'layout.html'%}


{% block body %}

<table>
    <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Usuario</td>
        <td>Fecha de nacimiento</td>
        <td>Nacionalidad</td>
        <td>Plan</td>

        <td colspan="4">Opciones</td>
    </tr>


{% for estudiante in estudiantes %}
<tr>
    <td>{{estudiante.1}}</td>
    <td>{{estudiante.2}}</td>
    <td>{{estudiante.3}}</td>
    <td>{{estudiante.4}}</td>
    <td>{{estudiante.5}}</td>

    {% if estudiante.6 == 1: %}
        <td>{{plan.0.0}}</td>
    {% else %}
        <td>{{plan.1.0}}</td>
    {% endif %}

    <td> <button>Editar</button></td>
    <td> <button>Cancelar suscripción</button></td>
    <td><a href="/ver_cursos/{{estudiante.0}}"> <button> Ver cursos </button></a></td>
    <td> <a href="/ver_especializaciones/{{estudiante.0}}"> <button> Ver especializaciones </button></a></td>
</tr>


{% endfor %}

</table>
<form action="/add_estudiante">
    <div class="row">
    <button type="submit">Inscribir nuevo estudiante</button>
    <a href="/" class="btn btn-outline-primary">Volver</a>
</div>
</form>

{% endblock %}
