
    {%extends 'layout.html'%}
    {%block titulo%}
    Menú Principal
    {%endblock%}
    {% block source %}
  
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% endblock %}
    {%block body%}
    <aside>
  
      <img src="{{ url_for('static', filename='logo/logo2.jpeg') }}" alt="">
    </aside>
    <input type="checkbox" id="menu-toggle"/>
      <label id="trigger" for="menu-toggle"></label>
      <label id="burger" for="menu-toggle"></label>
      <ul id="menu">
        <li><a href="/estudiante">Estudiante</a></li>
        <li><a href="/cursos">Cursos</a></li>
        <li><a href="/especializacion">Especializaciones</a></li>
        <li><a href="/institucion">Instituciones</a></li>
      </ul>
    {%endblock%}
    