{%extends 'layout.html'%}


{%block body%}
    <form action="/add_estud" method="POST">
    
    <input type="text" maxlength="30" name="nom">
    <input type="text" maxlength="30" name="ape">
    <input type="text" maxlength="30" name="usu">
    <input type="date" name="fec">
    <input type="text" maxlength="20" name="nac">
    <select name="pla">
        <option value="1">Gratis</option>
        <option value="2">Premium</option>
    </select>


    <button type="submit">Agregar Estudiante</button>
    </form>
    {%endblock%}