{%extends 'layout.html'%}


{%block source%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/estudiantes.js') }}"></script>

{%endblock%}

{%block body%}
<div class="container">
    <div class="py-5 text-center">
      <h2>Estudiante</h2>
      <p class="lead">Por favor, Ingrese los datos solicitados</p>
    </div>
  
    <div class="row">
    
      <div class="col-md-10 col-offset-6 center_div">
        <h4 class="mb-3">Inscripción</h4>
        <form class="needs-validation" action="/add_estud" method="POST">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombre</label>
              <input type="text" class="form-control" id="nombre" maxlength="30" name="nom" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Apellido</label>
              <input type="text" class="form-control" id="nombre" maxlength="30" name="ape" required>
            </div>
          </div>
          <div class="mb-3 ">
            <label for="email">Usuario</label>
            <input name="usu" type="text" class="form-control" maxlength="30" id="email" >
          </div>
          <div class="mb-3">
            <label for="">Nacionalidad</label>
            <select class="custom-select d-block w-100" id="country" required="" name="nac">
              <option value="" disabled selected>Seleccione..</option>
              <option>Colombia</option>
              <option>Canadá</option>
              <option>USA</option>
              <option>México</option>
              <option>Inglaterra</option>
              <option>España</option>
              <option>Argentina</option>
              <option>Francia</option>
              <option>Brasil</option>
              <option>Italia</option>
              <option>Alemania</option>
              <option>Rusia</option>
              <option>Portugal</option>
              <option>Chile</option>
              <option>Panamá</option>
              <option>Ecuador</option>
            </select>
            
        </div>
          <div class="row">
            <div class="col-md-6 mb-3">
                <label for="">Fecha de nacimiento</label>
                <input id='fecha' type="date" name="fec" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                <label for="">Plan</label>
                <select name="pla" class="custom-select d-block w-100">
                  <option value="1">Free</option>
                  <option value="2">Premium</option>
              </select>
            
          </div>
       
         </div>   
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Inscribir</button>
        </form>
      </div>
    </div>
  
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2020-2021 CursosDB</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacidad</a></li>
        <li class="list-inline-item"><a href="#">Terminos</a></li>
        <li class="list-inline-item"><a href="#">Suporte</a></li>
      </ul>
    </footer>
  </div>
  
  
    {%endblock%}