{%extends 'estudiante/addEstudiante.html'%}


{% block body %}
   <div class="col-md-10 col-offset-6 center_div">
    <a href="/estudiante" class="btn btn-outline-secondary">Volver</a>
  
    <div class="row">
    
      <div class="col-md-10 col-offset-6 center_div">
        <div class="py-5 text-center" id="head">
          <h2 id="titulo">Estudiante</h2>
          <p class="lead">Por favor, Ingrese los datos solicitados</p>
        </div>
        <h4 class="mb-3" id="subtitulo">Edición</h4>

        <form class="needs-validation" action="/update_estud/{{estudiante[0][0]}}"  method="POST">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Nombre</label>
              <input type="text" class="form-control" id="nombre"  value="{{estudiante[0][1]}}"  maxlength="30" name="nom" required>
            </div>
            <div class="col-md-6 mb-3">
              <label for="lastName">Apellido</label>
              <input type="text" class="form-control" id="nombre"  value="{{estudiante[0][2]}}" maxlength="30" name="ape" required>
            </div>
          </div>
          <div class="mb-3 ">
            <label for="email">Usuario</label>
            <input name="usu" type="text" class="form-control"  value="{{estudiante[0][3]}}" maxlength="30" id="email" >
          </div>
          <div class="mb-3">
            <label for="">Nacionalidad</label>            
            <select class="custom-select d-block w-100" id="country" required="" name="nac" value="{{estudiante[0][5]}}">
              <option value="" disabled>Seleccione..</option>
              <option value = "Colombia">Colombia</option>
              <option value="Canadá">Canadá</option>
              <option value="USA">USA</option>
              <option value = "México">México</option>
              <option value="Inglaterra">Inglaterra</option>
              <option value= "España">España</option>
              <option value = 'Argentina'>Argentina</option>
              <option value ='Francia' >Francia</option>
              <option value="Brasil">Brasil</option>
              <option value="Italia">Italia</option>
              <option value="Alemania">Alemania</option>
              <option value="Rusia">Rusia</option>
              <option value="Portugal">Portugal</option>
              <option value="Chile">Chile</option>
              <option value="Panamá">Panamá</option>
              <option value="Ecuador">Ecuador</option>
            </select>
        </div>
          <div class="row">
            <div class="col-md-6 mb-3">
                <label for="">Fecha de nacimiento</label>
                <input id = 'fecha' type="text"  value="{{estudiante[0][4]}}" name="fec" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                <label for="">Plan</label>
                <select name="pla" class="custom-select d-block w-100">
                  <option value="1">Free</option>
                  <option value="2">Premium</option>
              </select>
            
          </div>
       
         </div>   
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit" id="editBtn">Editar</button>
        </form>
      </div>
    </div>
  
    <footer class="my-5 pt-5 text-muted text-center text-small">
      <p class="mb-1">© 2020-2021 CursosDB</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacidad</a></li>
        <li class="list-inline-item"><a href="#">Terminos</a></li>
        <li class="list-inline-item"><a href="#">Suporte</a></li>
      </ul>
    </footer>
  </div>
  
  <script type="text/javascript"> 
     var valor = '{{estudiante[0][5]}}';
     $("#country > option[value="+ valor +"]").attr("selected",true);
  </script>
 

{% endblock %}