{%extends 'layout.html'%}

{%block source%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
{%endblock%}


{% block body %}


<div class="my-3 p-3 center_div bg-white rounded box-shadow" >
    <div class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded box-shadow">
        <h4> Estudiantes Inscritos</h4>
    </div>
<table class="table table-hover table-bordered">
    <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>Usuario</td>
        <td>Fecha de nacimiento</td>
        <td>Nacionalidad</td>
        <td>Plan</td>
        <td colspan="4">Opciones</td>
    </tr>


{% for estudiante in estudiantes %}
<tr>
    <td>{{estudiante.1}}</td>
    <td>{{estudiante.2}}</td>
    <td>{{estudiante.3}}</td>
    <td>{{estudiante.4}}</td>
    <td>{{estudiante.5}}</td>

    {% if estudiante.6 == 1: %}
        <td>{{plan.0.0}}</td>
    {% else %}
        <td>{{plan.1.0}}</td>
    {% endif %}

    <td> <a href="/update_estudiante/{{estudiante.0}}">Editar</a></td>
    <td> <a href="/elim_est/{{estudiante.0}}" >Cancelar suscripción</a></td>
    <td><a href="/ver_cursos/{{estudiante.0}}">Ver cursos </a></td>
    <td> <a href="/ver_especializaciones/{{estudiante.0}}">  Ver especializaciones </a></td>
</tr>


{% endfor %}
</table>
<form action="/add_estudiante" class="mb-4 center_div">
    <button type="submit" class="btn btn-primary mr-3">Inscribir nuevo estudiante</button>
    <a href="/" class="btn btn-outline-secondary">Volver</a>
</form> 
</div>
{% endblock %}
