{%extends 'layout.html'%}

{%block source%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabla.css') }}">

{%endblock%}


{% block body %}


<div class="my-3 p-3 center_div bg-white rounded box-shadow" >

    <img class="float-xs-right" src="{{ url_for('static', filename='logo/logo2.jpeg') }}" alt="">
    <div id="div" class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded box-shadow float-xs-left">
        <h1> Estudiantes Inscritos</h1>
    </div>
    



<table class="table table-hover ">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Usuario</th>
        <th>Fecha de nacimiento</th>
        <th>Nacionalidad</th>
        <th>Plan</th>
        <th colspan="4">Opciones</th>
    </tr>
</thead>
<tbody>

     {%  if estudiantes |length >0 : %}
        {% for estudiante in estudiantes %}
<tr>
    <td>{{estudiante.1}}</td>
    <td>{{estudiante.2}}</td>
    <td>{{estudiante.3}}</td>
    <td>{{estudiante.4}}</td>
    <td>{{estudiante.5}}</td>

    {% if estudiante.6 == 1: %}
        <td>{{plan.0.0}}</td>
    {% else %}
        <td>{{plan.1.0}}</td>
    {% endif %}

    <td> <a href="/update_estudiante/{{estudiante.0}}"> <button class="btn btn-warning text-white">Editar</button> </a></td>
    <td> <a href="/elim_est/{{estudiante.0}}" ><button class="btn btn-danger">Cancelar suscripción</button></a></td>
    <td><a href="/ver_cursos/{{estudiante.0}}"><button class="btn btn-info">Ver cursos</button> </a></td>
    <td> <a href="/ver_especializaciones/{{estudiante.0}}">  <button class="btn btn-secondary">Ver especializaciones</button> </a></td>
</tr>


        {% endfor %}
        {% else %}

        <td colspan="10"> <h1>No hay estudiantes inscritos</h1> </td>
        {% endif %}



</tbody>

</table>
<form action="/add_estudiante">
    <button type="submit" class="btn btn-primary mr-3">Inscribir nuevo estudiante</button>
    <a href="/" class="btn btn-outline-secondary">Volver</a>
</form> 
</div>
{% endblock %}
