#subtitulo{

    color: #007BFF;
    font: bold;
    font-family:sans-serif;

}


#head{
    background-color: #007BFF;
    font: bold;
    color: white;
    padding: 2%;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 10px;
}




