{%extends 'layout.html'%}
{%block source%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabla.css') }}">
{%endblock%}

{% block body %}
<div class="my-3 p-3 center_div bg-white rounded box-shadow" >

    <img class="float-xs-right" src="{{ url_for('static', filename='logo/logo2.jpeg') }}" alt="">
    <div id="div" class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded box-shadow float-xs-left">
        <h1> Instituciones</h1>
    </div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>
            Nombre
        </th>
        <th>
            País
        </th>
        <th>
            Calificación
        </th>
        <th>
            Tipo
        </th>
        <th colspan="2">Opciones</th>
    </tr>
</thead>
{%  if instituciones |length >0 : %}
<tbody>
    {% for institucion in instituciones %}
    <tr>
        <td>
            {{institucion.1}}
        </td>
        <td>
            {{institucion.2}}
        </td>
        <td>
            {{institucion.3}}
        </td>
        <td>
            {{institucion.4}}
        </td>
        <td>
            <a href="/edit_ins//{{institucion.0}}" class="btn btn-warning mr-2 text-white">Editar</a>
            <a class="confirm btn btn-danger">Eliminar</a>
        </td>

    </tr>
    {%endfor%}
{% else %}

<td colspan="6"><h1>No hay convenios con instituciones</h1></td>
{% endif %}
</tbody>
</table>

<form action="/add_institucion">
   

    
<button class="btn btn-primary mr-2" type="submit">
Nuevo convenio
</button>
<a href="/" class="btn btn-outline-secondary">Volver</a>

</form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/institucion.js') }}">
</script>
{% endblock %}