{%extends 'layout.html'%}

{%block source%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabla.css') }}">
{%endblock%}

{% block body %}

<div class="my-3 p-3 center_div bg-white rounded box-shadow" >

    <img class="float-xs-right" src="{{ url_for('static', filename='logo/logo2.jpeg') }}" alt="">
    <div id="div" class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded box-shadow float-xs-left">
        <h1> Especializaciones</h1>
    </div>

<table class="table table-hover">
    <thead>
    <tr>
        <th >Nombre</th>
        <th>Institución</th>
        <th>Nivel de Dificultad</th>
        <th>Calificación</th>
        <th>Plan</th>
        <th style="width: 300px;">Opciones</th>
    </tr>
</thead>
<tbody>
    {%  if especializaciones |length >0 : %}
        {% for esp in especializaciones %}
    <tr>
      <td>{{esp.2}}</td>
        <td>{{esp.0}}</td>
        <td>{{esp.4}}</td>
        <td>{{esp.3}}</td> 
        <td>{{esp.6}}</td> 
        <td> <a href="/edit_esp/{{esp.1}}" class="btn btn-warning text-white">Editar</a> 
            <a class="confirm btn btn-danger" >Eliminar</a> 
            <a href="/ver_cur/{{esp.1}}" class="btn btn btn-info">Ver cursos</a>
        </td> 
    </tr>
        {% endfor %}
    {% else %}

    <td colspan="8"><h1>No hay especializaciones inscritas</h1></td>
    {% endif %}


</tbody>
</table>



<a href="/add_esp" class="btn btn-primary mr-2">Agregar especializacion</a>
<a href="/" class="btn btn-outline-secondary">Volver</a>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/esp.js') }}"></script>
{% endblock %}