{%extends 'layout.html'%}

{%block source%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/tabla.css') }}">
{%endblock%}
{% block body %}
<div class="center_div">
    <img class="float-xs-right" src="{{ url_for('static', filename='logo/logo2.jpeg') }}" alt="">
    <div id="div" class="d-flex align-items-center p-3 my-3 text-black bg-purple rounded box-shadow float-xs-left">
        <h2> Cursos disponibles para {{especializacion[0][1]}} </h2>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Curso</th>
                <th>Institucion</th>
                <th>Horas Teóricas</th>
                <th>Horas Prácticas</th>
                <th>Calificación</th>
                <th>Opciones</th>
            </tr>
        </thead>
{% for curso in cursos %}

<tr>
    <td>
        {{curso.3}}
    </td>
    <td>
        {{curso.0}}
    </td>
    <td>
        {{curso.4}}
    </td>
    <td>
        {{curso.5}}
    </td>
    <td>
        {{curso.6}}
    </td>
    <td>
        <a href="/ins_curEsp/{{especializacion[0][0]}}/{{curso.1}}"><button class="btn btn-success">Inscribir</button></a>
    </td>
</tr>
{% endfor %}
</table>
</div>
<div class="center_div">
    <a href="/ver_cur/{{especializacion[0][0]}}" class="btn btn-outline-secondary" style="width: 7em;">Volver</a>
</div>
{% endblock %}